body {
  font-family: "new york times";
}

.cities g > circle {
  transition: r 0.2s;
}

.cities g:hover > circle, g.selected > circle {
  r: 15;
  opacity: 0.5;
  cursor: pointer;

}

.cities g.selected > circle{
  fill: #000

}

g:hover > text, g.selected > text {
  display: inherit;
  z-index: 1000
}

g > text {
  font-size: 15px;
  display: none
}

.controls a{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  margin-right: 20px;
  
}

.controls a:last-child{
  
  margin-right: 0px
}



.controls a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.controls {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 10px;
  width: 100%;
  text-align: center
}

circle {
  transition: cx 0.2s, cy 0.2s;
}

line {
  transition: "x1" 0.2s, "x2" 0.2s, "y1" 0.2s, "y2" 0.2s;
}

